<table cellpadding="0" cellspacing="0">
<thead>
<tr>
	{{#if showWeekNumbers}}
	  <th></th>
	{{/if}}
	{{#if prevAvailable}}
	  <th class="prev available"><i class="icon-arrow-left"></i></th>
	{{else}}
	  <th></th>
	{{/if}}
  <th colspan="5" style="width: auto">{{month}} {{year}}</th>
  {{#if nextAvailable}}
    <th class="next available"><i class="icon-arrow-right"></i></th>
  {{else}}
    <th></th>
  {{/if}}
</tr>
<tr>
	{{#if showWeekNumbers}}
	  <th class="week">{{weekLabel}}</th>
	{{/if}}
	{{#each locale.daysOfWeek}}
	  <th>{{.}}</th>
	{{/each}}
</tr>
</thead>
<tbody>
{{#each calendar}}
{{setIndex @index}}
<tr>
  {{#if showWeekNumbers}}
    <td class="week">?</td>
  {{/if}}
  {{#each .}}
    <td class="{{cls}}" data-row="{{../index}}" data-col="{{@index}}">
	    <div class="day {{cname}}">{{number}}</div>
	  </td>
  {{/each}}
</tr>
{{/each}}

</tbody>
</table>