{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "comma-dangle": [2, "never"],
    "id-length": [2, {"min": 1}],
    "eol-last": 0,
    "prefer-const": 0,
    "func-names": 0
  }
}
