*.gem
*.rbc
.bundle
.config

#eclipse
.project
.settings

#idea
.idea

#test output
/reports
/coverage
/log
/examples/dist

/assets/bower_components
/node_modules
/build
.sass-cache
/gh-pages
.grunt
Gemfile.lock

npm-debug.log
