<div class="intro">
  <p>Views inherits from <a href="http://backbonejs.org/#View">Backbone.View</a> from which we get event delegation and basic DOM rendering.</p>
  <p>
    Plumage adds integration with Handlebars templates, subviews, model binding, and some more hooks (eg onShow/noHide).
  </p>
</div>

<div class="example">
  <h4>Templates</h4>
  <p>The default rendering logic takes a View's template property and render's it into its DOM element.
    The template data used in rendering is determined by the getTemplateData method.
  </p>
  <h5>Plumage.view.BaseView</h5>
  <div class="base-view well"></div>
</div>

<div class="example">
  <h4>Subviews</h4>
  <p>You can nest views by adding them to a view's subViews property.</p>
  <p>Specify the selector property to choose where in the parent view's element the subview will render</p>

  <h5>Plumage.view.ContainerView</h5>
  <div class="container-view well"></div>
</div>

<div class="example">
  <h4>onShow/onHide</h4>
  <p>onShow and onHide are hooks you can override to execute logic just before a view is shown, or after it's hidden. Just dont' forget to call the super</p>
  <p>When using 3rd party views with Plumage, you may find they have issues like rendering problems, or events not triggering.
  This is because Plumage moves views in and out of the DOM as they're shown and hidden. To fix this, you should override
  onShow and onHide to add and remove event listeners respectively. If this still doesn't work, you may need to defer the
  initial rendering of the 3rd party view until onShow is called the first time.
  </p>
</div>