
{{#if label}}
<div class="control-group">
  <label class="control-label" for="{{valueAttr}}">{{label}}</label>
  <div class="controls">
{{/if}}

<span class="dropdown-select dropdown">
<input type="hidden" {{#if fieldName}}name="{{fieldName}}"{{/if}} value="{{value}}"/>
<a class="btn dropdown-toggle {{buttonCls}}" data-toggle="dropdown" href="#">
  {{#iconCls}}
    <i class="{{.}} icon-white"></i>
  {{/iconCls}}
  {{#if hasSelection}}
    {{valueLabel}}
  {{else}}
    {{noSelectionText}}
  {{/if}}
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
{{#listValues}}
  <li data-value="{{value}}" class="{{value}}{{#selected}} active{{/selected}}"><a href="#">{{label}}</a></li>
{{/listValues}}
</ul>
</span>

{{#if label}}
  </div>
</div>
{{/if}}