
{{#if label}}
<div class="form-group">
  <label class="control-label" for="{{valueAttr}}">{{label}}</label>
  <div class="controls">
{{/if}}

<span class="dropdown-select dropdown">
<input type="hidden" {{#if fieldName}}name="{{fieldName}}"{{/if}} value="{{value}}"/>
<button id="{{dropdownId}}" class="btn btn-default {{buttonCls}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{#iconCls}}
    <span class="glyphicon glyphicon-{{.}}"></span>
  {{/iconCls}}
  {{#if hasSelection}}
    {{valueLabel}}
  {{else}}
    {{noSelectionText}}
  {{/if}}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu opens{{opens}}" aria-labelledby="{{dropdownId}}">
{{#listValues}}
  <li data-value="{{value}}" class="{{value}}{{#selected}} active{{/selected}} {{#disabled}}disabled{{/disabled}} {{classes}}">
    <a href="#">{{label}}</a>
  </li>
{{/listValues}}
</ul>
</span>

{{#if label}}
  </div>
</div>
{{/if}}