<div class="form-group {{#if validationState}}{{validationState}}{{/if}}">
{{#if label}}
  <label class="control-label" for="{{valueAttr}}">{{label}}</label>
  <div class="controls">
{{/if}}
    <div class="field-value {{#unless hasValue}}no-value{{/unless}}">
      <span class="glyphicon glyphicon-pencil"></span>
      <span>{{#if hasValue}}{{value}}{{else}}{{placeholder}}{{/if}}</span>
	  </div>
    {{> field}}
    <span class="help-inline">{{#if message}}{{message}}{{/if}}</span>
{{#if label}}
  </div>
{{/if}}
</div>
