<div class="intro">
  <p>
    GridView is a wrapper around <a href="https://github.com/mleibman/SlickGrid" target="_">SlickGrid</a>,
    a very awesome JS grid component.
  </p>
  <p>
    A key factor in choosing SlickGrid is its support for infinite scroll. Plumage is for presenting your datasets,
    whatever size they are, and let's be honest, nobody wants to press 'next page' anymore.
  </p>
</div>

<div class="example">
  <h4>Basic Usage</h4>

  <p>
    Define <a href="https://github.com/mleibman/SlickGrid/wiki/Column-Options" target="_">columns</a> in the columns property,
    and pass any other <a href="https://github.com/mleibman/SlickGrid/wiki/Grid-Options" target="_">SlickGrid options</a>
    in with the gridOptions property.
  </p>

  <h5>Plumage.view.grid.GridView</h5>
  <div class="grid-view"></div>

</div>



