<div class="intro">
  <p>
    One requirement of using automatic paging is that you need the total number of rows so that enough
    scroll space can be allocated.
  </p>
  <p>
    If the total number of rows is unknown, we can fall back to traditional 'click next' paging.
  </p>
</div>

<div class="example">
  <h5>Grid with Paging (page size: 20)</h5>

  <pre class="request-log" style="height: 80px; overflow: auto;"></pre>
  <div class="grid-view"></div>
  <div class="grid-pager"></div>
</div>



