<a class="comments-action" href="#">{{actionLabel}}</a>
<div class="floater-wrapper comment-wrapper hidden">
  <a href="#" class="close comment-close">&times;</a>
  <div class="comments">
    {{#each comments}}
    <div class="comment">
	    <h5 class="item-author-header">
		    <img class="avatar" src="{{user.image_thumb}}" />
		    <span class="name">{{user.first_name}} {{user.last_name}}</span>
		    <span class="screenname muted"> @{{user.screenname}}</span>
		    <span class="timestamp">{{created_at}}</span>
		  </h5>
			<p class="comment-text">
			  {{body}}
			</p>
    </div>
    {{/each}}
  </div>

  <form accept-charset="UTF-8" action="/create_question" method="post">
    <input id="id" name="id" type="hidden" value="649">
    <textarea class="comment-text" id="comment_649" name="content"></textarea>
    <input class="btn comment_submit_button" name="commit" type="submit" value="Comment">
  </form>
</div>
