

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>



      <a class="navbar-brand" href="{{titleUrl}}">
        <span class="nav-title">{{title}}</span>
        {{#subtitle}}<span class="nav-subtitle">{{.}}</span>{{/subtitle}}
      </a>

      <div class="extra-links">
        {{#if aboutUrl}}
        <a class="outlink" href="{{aboutUrl}}" target="_">{{aboutLabel}}</a>
        {{/if}}
        {{#if helpUrl}}
        <a class="outlink" href="{{helpUrl}}" target="_">{{helpLabel}}</a>
        {{/if}}
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="links nav navbar-nav">
        {{#if aboutUrl}}
        <li><a class="outlink" href="{{aboutUrl}}" target="_">{{aboutLabel}}</a></li>
        {{/if}}

        {{#if helpUrl}}
        <li><a class="outlink" href="{{helpUrl}}" target="_">{{helpLabel}}</a></li>
        {{/if}}
      </ul>

      {{#if navItems}}
      <ul class="nav navbar-nav main-nav">
        {{#navItems}}
        <li class="{{className}}"><a href="{{url}}">{{label}}</a></li>
        {{/navItems}}
      </ul>
      {{/if}}
      <div class="navbar-search navbar-right">
      </div>
    </div>
  </div>

</nav>
