<div class="intro">
  <p>Models inherits from <a href="http://backbonejs.org/#Model">Backbone.Model</a></p>
  <p>
    Backbone.Model gives us getters, setters, events and async loading. In addition to this, Plumage adds relationships,
    some more events and unifies the interface for Models and Collections.
  </p>
</div>

<div class="example">
  <h4>Getters and setters</h4>
  <p>Model values are stored as unstructured JS objects. There's no need to specify field names or types ahead of time.</p>

  <h5>Example</h5>
  <div class="example-code">
    <pre><code>var model = new Plumage.model.Model({name: 'foo', value: 'bar'});
log('name: ' + model.get('name'));
model.set('name', 'baz');
log('name: ' + model.get('name'));</code></pre>
  </div>
</div>

<div class="example">
  <h4>Events</h4>
  <p>Models fire events when attributes change, as well as before and after loading.</p>

  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var model = new Plumage.model.Model();
model.urlRoot = '/my_model';
model.on('all', function(event) {
  log('event: ' + event);
});
model.set({'name': 'foo'});
log('--');
model.load();</code></pre>
  </div>
</div>

