<div class="intro">
  <p>
    Model relationships are defined in the model's class by setting the relationships attribute.
  </p>
  <p>
    Load data into related models by nesting their data inside the root model's data.
    It will be pulled out automatically and used to instantiate the related models.
  </p>
</div>

<div class="example">
  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var MyModel = Plumage.model.Model.extend({
  relationships: {
    'related': {
      modelCls: Plumage.model.Model
    }
  }
});
var model = new MyModel({name: 'foo', related: {name: 'bar'}});
log('name: ' + model.get('name'));
log('related.name: ' + model.getRelated('related').get('name'));</code></pre>
  </div>
</div>

<div class="example">
  <h4>Async Loading</h4>
  <p>A you can also have a related model automatically load asynchronously by setting the 'remote' flag in its relationship definition</p>
  <p><strong>Note: You must preinstantiate the related models to get a remote relationship to load!</strong></p>
  <p>
    Do this by either:
    <ol>
      <li>Setting the 'forceCreate' flag on the relationship</li>
      <li>Instantiating it with an empty object</li>
    </ol>
  </p>
  <p>
    Related models need to be created ahead like this so that any views or other event listeners can start listening up while the model is loading.
    This also allows to to customize what relationships are loaded in different contexts.
  </p>

  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var RelatedModel = Plumage.model.Model.extend({urlRoot: '/related_model'});
var MyModel = Plumage.model.Model.extend({
  urlRoot: '/base_model',
  relationships: {
    'related': {
      modelCls: RelatedModel,
      remote: true,
      forceCreate: true // option (1) above
    }
  }
});
var model = new MyModel({related: {}}); // option (2) above
model.load();
</code></pre>
  </div>
</div>

<div class="example">
  <h4>Deferred Loading</h4>
  <p>If you're not going to use related data right away (like if it's on an initially hidden tab),
  you can set the deferLoad flag and it will hold off until explicitly loaded (usually by View.onShow)</p>

  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var RelatedModel = Plumage.model.Model.extend({urlRoot: '/related_model'});
var MyModel = Plumage.model.Model.extend({
  urlRoot: '/base_model',
  relationships: {
    'related': {
      modelCls: RelatedModel,
      remote: true,
      forceCreate: true,
      deferLoad: true
    }
  }
});
var model = new MyModel();
model.load();
log('--');
log('model marked as defered: ' + model.getRelated('related').deferLoad);
model.getRelated('related').load();
</code></pre>
  </div>
