<div class="intro">
  <p>
    Model relationships are defined in the model's class by setting the relationships attribute.
  </p>
  <p>
    Load data into related models by nesting their data inside the root model's data.
    It will be pulled out automatically and used to instantiate the related models.
  </p>
</div>

<div class="example">
  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var MyModel = Plumage.model.Model.extend({
  relationships: {
    'related': {
      modelCls: Plumage.model.Model
    }
  }
});
var model = new MyModel({name: 'foo', related: {name: 'bar'}});
log('name: ' + model.get('name'));
log('related.name: ' + model.getRelated('related').get('name'));</code></pre>
  </div>
</div>

<div class="example">
  <h4>Async Loading</h4>
  <p>Related models can be loaded asynchronously by setting the remote option in their relationship definition.</p>
  <p>The remote option can be one of 3 values, which determines when the relationship gets loaded</p>
  <ul>
    <li>'autoload' - Load as soon as the relation url is available.</li>
    <li>'loadOnShow' - Load the first time a view bound to the current model is shown.</li>
    <li>'manual' - No automatic loading. It's up to you to call load on the related model in your Controller.</li>
  </ul>

  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var RelatedModel = Plumage.model.Model.extend({urlRoot: '/related_model'});
var MyModel = Plumage.model.Model.extend({
  urlRoot: '/base_model',
  relationships: {
    'related': {
      modelCls: RelatedModel,
      remote: 'autoload',
      forceCreate: true // option (1) above
    }
  }
});
var model = new MyModel({related: {}}); // option (2) above
model.load();
</code></pre>
  </div>
</div>

<div class="example">
  <h4>loadOnShow</h4>
  <p>If you're not going to use related data right away (eg if it's on a tab),
  you can set the remote option to 'loadOnShow' and it will hold off until explicitly it's shown.</p>

  <h5>Example</h5>
  <div class="example-code">
  <pre><code>var RelatedModel = Plumage.model.Model.extend({urlRoot: '/related_model'});
var MyModel = Plumage.model.Model.extend({
  urlRoot: '/base_model',
  relationships: {
    'related': {
      modelCls: RelatedModel,
      remote: 'loadOnShow'
    }
  }
});
var model = new MyModel({related: {}});
model.load();
log('--');
log('model marked to loadOnShow: ' + model.getRelated('related').loadOnShow);
model.getRelated('related').load();
</code></pre>
  </div>
