<div class="intro">
  <p>These fields let you pick date or a range of dates from a calendar.</p>
</div>

<div class="example form-horizontal">
  <h4>Plumage.form.fields.DateField</h4>
  <p>Field for selecting a single date</p>
  <div class="date-field1"></div>
  <div class="date-field2"></div>
</div>

<div class="example form-horizontal">
  <h4>Plumage.form.fields.HourSelect</h4>
  <p>There's also an hour field, which can be combined with DateField if desired. Make sure to set 'keepTime: true' on the DateField</p>
  <div class="hour-field1"></div>
  <div class="form-group">
	  <label class="control-label" for="fromDate">From Date</label>
	  <div class="controls">
	    <span class="date-field3"></span><span class="hour-field2"></span>
	  </div>
  </div>
</div>



<div class="example">
  <h4>Plumage.form.fields.DateRangeField</h4>
  <p>Field for selecting a range of dates</p>
  <div class="date-range-field"></div>

  <p>You can also include hour selects in this field</p>
  <div class="date-range-field-hour"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.DurationField</h4>
  <p>Field for specifying a length of time</p>
  <div class="duration-field"></div>
</div>