<div class="intro">
  <p>These fields let you pick date or a range of dates from a calendar.</p>
</div>

<div class="example">
  <h4>Plumage.form.fields.DatePicker</h4>
  <p>Field for selecting a single date</p>
  <div class="date-picker1"></div>
  <div class="date-picker2"></div>
</div>


<div class="example">
  <h4>Plumage.form.fields.DateRangeField</h4>
  <p>Field for selecting a range of dates</p>
  <div class="date-range-field"></div>

  <p>You can also include hour selects in this field</p>
  <div class="date-range-field-hour"></div>
</div>


