
<div class="intro">
  <p>A Field is a ModelView that updates an attribute of the bound model when updateModel is called</p>

  <p>A Form is also a ModelView but uses an html form tag to catch submit and change events.</p>

  <p>Here's a form with the basic html inputs</p>
</div>

<div class="example">
  <div>
    <form style="margin-bottom: 0">
      <div id="update-on-change"></div>
    </form>
  </div>
  <div class="form-example">
    <div>
      <form class="form-inline">

      </form>
      <h4>Form</h4>
      <div class="form1"></div>
    </div>
    <div class="span4">
      <h4>Results</h4>
      <div class="results1"></div>
    </div>
  </div>
</div>
