<div class="intro">
  <p>These fields let you pick a value from a list. Their common base class is Plumage.form.fields.Select</p>
  <p>The set of options is taken from another model (the list model) that is also bound to the field.</p>
  <p>
    Bind the listModel with Select.setListModel(), or use the Select.listRelationship
    option to have it automatically bind in the model tree.
  </p>
</div>

<div class="example">
  <h4>Plumage.form.fields.MultiSelect</h4>
  <p>A basic html select with multiple="true". Hold ctrl/command to select multiple.</p>
  <div class="multiselect"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.DropdownMultiSelect</h4>
  <p>A multi select using a bootstrap dropdown with checkboxes.</p>

  <div class="dropdown-multiselect"></div>
</div>

<div class="example">
  <p>It has an optional <strong>select all</strong> button</p>

  <div class="dropdown-multiselect2"></div>
</div>
