<div class="intro">
  <p>These fields let you pick a value from a list. Their common base class is Plumage.form.fields.Select</p>
  <p>The set of options is taken from another model (the list model) that is also bound to the field.</p>
  <p>
    Bind the listModel with Select.setListModel(), or use the Select.listRelationship
    option to have it automatically bind in the model tree.
  </p>
</div>

<div class="example">
  <h4>Plumage.form.fields.Select</h4>
  <p>A basic html select</p>
  <div class="select"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.DropdownSelect</h4>
  <p>Bootstrap dropdown style</p>
  <div class="dropdown-select"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.TypeAhead</h4>
  <p>Type ahead select</p>
  <div class="type-ahead-select"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.CategorySelect</h4>
  <p>Bootstrap nav-pills style</p>
  <div class="category-select"></div>
</div>

<div class="example">
  <h4>Plumage.form.fields.ButtonGroupSelect</h4>
  <p>Bootstrap btn-group style</p>
  <div class="button-group-select"></div>
</div>
