$iconSpritePath:          "/assets/images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "/assets/images/glyphicons-halflings-white.png";

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'home';
@import 'example';

@import 'highlight-xcode';

.tab-content {
  overflow: visible;
}
