<div class="intro">
  <p>
    ModelViews inherits from ContainerView, so it too can have a tree of subviews.
    Binding models throughout this tree manually would be tedious though, so by default, setModel and updateModel walk the view tree visiting applying themselves to each subview.
  </p>

  <p>Rather than Setting the relationship property on a ModelView allows you to specify which model in a tree of related models to use for rendering.</p>

  <p>ModelView allows you bind a tree of related models to a tree of nested subviews in a declarative manner.</p>
  <p>
    Plumage adds integration with Handlebars templates, subviews, model binding, and some more hooks (eg onShow/noHide).
  </p>
</div>

<div class="example">
  <h4>Model Binding</h4>
  <p>ModelView.setModel binds a model to that view.
  The view will then update when the model fires change and load events.</p>

  <h5>Plumage.view.ModelView</h5>
  <div class="model-view well"></div>
  <a class="btn" id="update-model-btn">Update Model</a>
</div>

<div class="example">
  <h4>Subviews Can Bind Too</h4>
  <p>
    setModel also passes the model to setModel on all subViews.
    This makes it easy to, say, bind a model to all fields in a form. Views can also declare where in the model hierarchy
    they want bind to by setting the 'relationship' property.
  </p>

  <p>If you look in the source of this example, you can see it's not setting the model on each example view. It's setting the
  model on itself, which automatically propagates to all subviews.</p>

  <h5>Subview binding</h5>
  <div class="sub-model-view well"></div>

  <h5>relationship property</h5>
  <div class="view-with-relationship well"></div>

  <p>You can also limit subview binding by setting the 'modelCls' property.
  If you look at the source for this example, you can see it has modelCls: Post, which so that the Example model
  representing this section doesn't also get set on the example views.
  </p>

  <p><strong>Note: Because each ModelView in the tree is independently listening to the bound model,
    parent ModelViews should not render onModelChange.</strong></p>
  <p>
    If you did this, each subview would render during the parent view's onModelChange and then again during their own onModelChanges.
    To prevent this from happening, ModelView by default does nothing in onModelChange. Set the 'updateOnChange' to true to turn on
    rendering on change, or override onModelChange to update the DOM instead of performing a full render.
  </p>

</div>
