
<div class="intro">
  <p>Models can save and load state from the url's query params, which is useful for maintaining view state for when you
    refresh the page, save a bookmark or share the link with others.
  </p>

  <p>
    All the examples in the Kitchen Sink use view state. Click the "Source" tab directly above this paragraph,
    then reload the page.
  </p>

  <p>
    Get the picture? Add the fields you want saved to your model's viewAttrs option, which gets it
    included in the query string returned by model.urlWithParams().
  </p>

  <p>
    Then make sure your Controller is passing the query params (the last argument passed into the handler) into
    createDetailModel or createIndexModel.
  </p>
  <p>eg.</p>

  <pre><code>myDetailHandler: function(id, viewState) {
  var model = createDetailModel(id, {}, viewState);
  this.showDetailModel(model);
}</code></pre>

  <p>
    View state can be used like any other model attribute. It can be get, set, and bound to fields. Changing it
    fires change events like normal. When view state changes, however, model.updateUrl() must be called in order
    to view state into the current url.
  </p>
  <p>
    <div class="dropdown-select"></div>
  </p>
  <p>
    <div class="query-string"></div>
  </p>
  <p>
    Don't forget to set updateModelOnChange = true on the field if you want the model updated immediately.
  </p>
</div>
