.calendar-view {
  border: 1px solid #ddd;
  padding: 4px;
  background: #fff;

  table {
    width: 100%;
    margin: 0;
  }

  td, th {
    text-align: center;
    width: 30px;
    height: 28px;
    padding: 0;
    white-space: nowrap;
  }

  td {
    color: #000;
    background-color: #fff;

    &.off {
      color: #555;
      background-color: #efefef;

      &.shadow-top {
        box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2) inset;
      }
      &.shadow-top-left {
        box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.2) inset;
      }
      &.shadow-bottom {
        box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.2) inset;
      }
      &.shadow-bottom-right {
        box-shadow: -2px -2px 2px -2px rgba(0, 0, 0, 0.2) inset;
      }
    }
  }

  .day {
    color: #000;
    cursor: pointer;
    padding: 4px 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    &.off {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }


  }

  .active .day:hover {
    background: saturate(lighten($brand-primary, 30%), 15%);
    color: #fff;
  }

  .disabled .day {
    color: #999;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .start-date .day, .end-date .day{
    color: #fff;
    background: lighten($brand-primary, 15%);
  }

  .in-range .day:hover {
    background-color: saturate(lighten($brand-primary, 30%), 15%);
    color: white;
  }

  .in-range {
    background-color: rgba($brand-primary, 0.15);
  }

  .selected .day, .selected .day:hover, .otheractive .day {
    background-color: $brand-primary;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  .otheractive .day {
    background: lighten($brand-primary, 15%);
    &:hover {
      background: #006dcc;
    }
  }

  .inrange .day:hover {
    background-color: rgba($brand-primary, 0.5);
    color: white;
  }
}

.picker .calendar-view {
  border: none;
  padding: 0;
}