$nav-height: 60px;
$nav-sm-height: 100px;
$navbarBrandColor: #fff;
$link-color: #08c;
$slickGridImagePath: ".";


html, body {
  height: 100%;
  overflow: hidden;
}
.clear {
  clear: both;
}

form {
  margin: 0;
}


#page {
  height: 100%;
}

#page.with-nav {
  padding-top: $nav-height;
  @media (min-width: $screen-sm-min) {
    padding-top: $nav-sm-height;
  }
}

header {
  position: relative;
}

.content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.title-wrap {
  /* move title into padding so content can get height: 100% */

  margin-bottom: 18px;
  h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  @include clearfix();

  &.with-nav {
    margin-top: -64px;
  }
}

.title-left {
  float: left;
}

.title-right {
  float: right;
  &> div {
    display: inline-block;
  }
  .date-range-field {
    margin-top: 7px;
  }
}

h2.title {
  font-size: 20px;
}

h2.title .light {
  font-weight: normal;
}

/** load error */

.load-error {
  font-size: 20px;
  color: #888;
}

.load-error .error-icon {
  float: left;
  margin: 20px;

  width:40px;
  height:40px;
  border-radius:20px;

  color: #fff;
  font-size: 40px;
  font-weight:bold;
  line-height:30px;
  text-align:center;
  letter-spacing: -2px;

  background: #cc2a2d;
}

.load-error .error-text {
  float: left;
  margin: 20px 0;
}

.load-error.with-message {
  .error-text {
    margin: 0;
    padding-top: 17px;
    .error-message {
      font-size: 14px;
    }
  }
}

.no-data {
  font-size: 24px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  position: absolute;
  width: 100%;
  top:50%;
  margin-top: -24px;
}

.more-link {
  display: block;
  margin: 10px 8px;
  text-align: right;
}

/** overrides */

.container-fluid {
  padding: 0;
}

.popover {
  max-width: 400px;

}

.popover-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-widget {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-prepend .btn,
.input-append .btn {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 *   Message
 */

.message {
  position: absolute;
  left: 50%;


  margin-bottom: 20px;

  margin-top: -20px;
  opacity: 0;
  pointer-events: none;

  @include transition(opacity 1s, margin-top 1s);
  &.show {
    pointer-events: auto;
    opacity: 1.0;
    margin-top: 0;
    @include transition(margin-top .1s, opacity 0.1s);
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .message-body {
    display: inline-block;
    margin-left: -50%;

    font-size: 14px;
    font-weight: bold;
    padding: 5px 16px;

    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));

    &.bad {
      @include gradient-vertical-three-colors(#a90329, #8f0222, 44%, #8C0020);
      color: white;
      a {
        color: #ccc;
        text-decoration: underline;
        margin-left: 4px;
      }
    }

    &.good {
      @include gradient-vertical-three-colors(#5fbd55, #58b14f, 44%, #52a54a);
      color: white;
      a {
        color: #ccc;
        text-decoration: underline;
        margin-left: 4px;
      }
    }
  }
}

.modal .message {
  top: 0;
}

/**
 *   Views
 */

.collection-view {
  margin: 0;
  list-style-type: none;

  > .items {
    padding: 0;
    margin: 0;
    list-style-type: none;
    > li {
      clear: both;
    }
  }
}
