.comments-count-icon {
  background: transparent url(comment-icon.png) no-repeat 50% 0;
  padding: 3px 7px 7px;
  position: relative;
  top: -2px;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 5px;
  color: #44F;

  &.no-comments {
    padding: 3px 10px 7px;
    opacity: 0.3;
    @include transition(opacity 1.0s);
    &.popovered {
      @include transition(opacity 0.2s);
     opacity: 0.5;
    }
  }
}

/* floating modal/comments */
div.floater-wrapper {
  right: 242px;
  position: absolute;
  z-index: 5;
  width: 300px;
  background-color: #FFFFBD;
  opacity: .98;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: perspective( 600px ) rotateY( 90deg );
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transform: perspective( 600px ) rotateY( 90deg );
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  transform: perspective( 600px ) rotateY( 90deg );
  transition-property: all;
  transition-duration: 0.2s;
}

div.floater-wrapper.open {
  -moz-transform: perspective( 600px ) rotateY( 0deg );
  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
}

div.floater-wrapper a.close {
  float: right;
  display: block;
  background-color: inherit;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  opacity: .5;
}

div.floater-wrapper a.close:hover {
  opacity: .75;
}

.comments ul {
  margin: 0;
}

/* commments */

.comments .comment {
  padding: 6px 10px 7px;
  border-top: 1px solid #FFFFDF;
  border-bottom: 1px solid #E1E19A;

  .comment-body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.comment {
  border-bottom: 0;
}

.comment span {
  padding-top: 2px;
  display: inline-block;
}

.comment img.avatar {
  float: left;
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

.comments li.comment-form {
  padding: 10px;
  clear: right;
}

input.comment_submit_button {
  width: 87px;
}

div.comment-wrapper .item-author-header {
  overflow: hidden;
}

.item-author-header {
  font-size: 13px;
  min-height: 0;
  color: #111;
  margin: 0;
}

.comment .timestamp {
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
  white-space: nowrap;
}

.comment-wrapper.hidden {
  display: none;
}

/** normal */
.comments {

  .comments-wrap {
    margin-top: 5px;
    width: 100%;
  }
  .comment {
    background: #FFFFDF;
    border-top: 1px solid #eee;
  }

  .hidden {
    display: none;
  }

  .comments-toggle {
    font-size: 14px;
  }
}

/** Form */

.comment-form form {
  margin: 0;
  padding: 10px 10px 7px;
}

.comment-form form textarea {
  width: 100%;
  padding: 0;
}

.no-comments {
  color: #888;
}

/* sidebar */

.comments-sidebar {
  float: right;
  position: relative;
  height: 100%;

  > div {
    height: 100%;
  }

  width: 350px;
  margin-right: -351px;
  .comments-wrap {
    height: 100%;
    overflow: auto;
  }

  h4 {
    font-size: 16px;
    background-color: #FFFFee;
    display: block;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));

  }

  .comments {
    padding-top: 40px;
  }
}

/** popover */
.popover-content {
  .comments-wrap {
    margin: -9px;
    max-height: 600px;
    overflow: scroll;
  }
  .comment {
    border: none;
    background: #fff;
  }
}
