.form-horizontal {
  .control-label {
    @extend .col-sm-4;
  }

  .controls {
    @extend .col-sm-8;
  }
}

.field {
  .input-group-btn button {
    height: 34px;
  }
}

.help-inline {
  color: $brand-warning;
}

.display-field {
  .field-group {
    margin-bottom: 10px;
  }

  .field-value {
    height: 34px;
    padding: 7px 0;
    line-height: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .loading {
    color: #aaa;
  }
}

.search-field {
  input {
    border-radius: 20px;
    border: 1px solid #ccc;
    display: inline-block;
  }

  button {
    height: 20px;
    background-color: transparent;
    border: none;
    margin: 0 5px 0 -30px;
    padding: 0 6px 0 2px;
    outline: none;
  }
}

.typeahead-select {
  position: relative;
  .dropdown-menu {
    margin-top: 10px;
  }
}

.dropdown-multiselect {

  .dropdown-menu > li > a {
    display: block;
    padding: 0 10px;
  }

  a.item .values {
    display: inline;
    span:after {
      content: ',';
    }
    span:last-child:after {
      content: '';
    }
  }

  .dropdown-menu li {
    background: none;
    &.active {
      background: #0081c2;

      a {

      }
    }

    a, a:hover {
      cursor: pointer;
      background: transparent;
    }

    input {
      margin: -4px 6px 0 0;
    }
  }

  .show-select-only {
    li {
      position: relative;
      padding-right: 50px;
      a.only-link {
        display: none;
        text-decoration: underline;
        color: #fff;
        position: absolute;
        right: 0;
        width: 45px;
        padding: 4px 10px;
      }
      a.item {
        width: 100%;
        display: block;
        padding: 4px 10px;
        background: transparent;
        box-sizing: border-box;
      }
    }
    li:hover {
      background: #0081c2;
      a.item {
        background: transparent;
        color: #fff;
      }
      a.only-link {
        display: block;
      }
    }

    li.active {
      background: #0081c2;
      a.only-link {

      }
    }
  }

}

.inplace-field {

  .field-value {
    height: 34px;
    padding: 7px 13px;
    line-height: 20px;

    cursor: pointer;

    .glyphicon {
      display: none;
      float: right;
      width: 40px;
      text-align: right;
      margin-right: 5px;
      margin-top: -0.2em;
    }

    &:hover {
      background: #eee;

      .glyphicon {
        display: block;
      }
    }

  }

  input[type=text] {
    display: none;
    margin-bottom: 0;
  }

  &.editing {
    input[type=text] {
      display: block;
    }
    .field-value {
      display: none;
    }
  }

  .help-inline {
    float: right;
  }

  .error .field-value {
    padding: 4x 0 4px 7px;
    border: 1px solid #b94a48;
  }
}

.dropdown-select {
   .opensleft {
     right: 0;
     left: auto;
   }

  .dropdown-toggle {
    margin-bottom: 10px;
  }
}

.form-horizontal .dropdown-select .dropdown-toggle {
  margin-bottom: 0;
}

.duration-field {
  select {
    width: 85px;
  }
  input {
    width: 117px;
  }
}

.form-horizontal-left {
  .control-label {
    text-align: left;
    width: 120px;
  }
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu.pull-right:before, .dropdown-menu.opensleft:before {
  left: inherit;
  right: 15px;
}

.dropdown-menu.pull-right:after, .dropdown-menu.opensleft:after{
  left: inherit;
  right: 15px;
}


