.display-field {
  .control-group {
    margin-bottom: 10px;
  }

  .field-value {
    line-height: 20px;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .loading {
    color: #aaa;
  }
}

.search-field {
  button {
    height: 20px;
    background-color: transparent;
    border: none;
    margin: 0 5px 0 -30px;
    padding: 0 6px 0 2px;
    outline: none;
  }
}

.typeahead-select {
  position: relative;
  .dropdown-menu {
    margin-top: 10px;
  }
}

.dropdown-multiselect {

  a .values {
    display: inline;
    span:after {
      content: ',';
    }
    span:last-child:after {
      content: '';
    }
  }

  .dropdown-menu li {
    background: none;
    &.active {
      a {

      }
    }

    a, a:hover {
      cursor: pointer;
      padding: 4px 10px;
      background-image: none;
    }

    input {
      margin: -4px 6px 0 0;
    }
  }
}

.inplace-field {

  .field-value {
    padding-top: 5px;
    padding-left: 8px;
    margin-left: -8px;
    cursor: pointer;

    i {
      display: none;
      float: right;
      margin-left: -18px;
      margin-right: 5px;
    }

    &:hover {
      background: #eee;

      i {
        display: block;
      }
    }

  }

  input[type=text] {
    display: none;
    margin-left: -7px;
    margin-bottom: 0;
  }

  &.editing {
    input[type=text] {
      display: block;
    }
    .field-value {
      display: none;
    }
  }
}

.dropdown-select {
   .opensleft {
     right: 0;
     left: auto;
   }

  .dropdown-toggle {
    margin-bottom: 10px;
  }
}

.form-horizontal .dropdown-select .dropdown-toggle {
  margin-bottom: 0;
}