/******** Layout *******/

.grid-view {
  position: relative;
  clear: both;
  border: 1px solid #eee;
  border-top: none;
  height: 100%;
  @include box-sizing(border-box);
}

.grid {
  height: 100%;
}




/******** Slick grid ***********/


.slick-cell{
  border: none;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font: bold 14px;
}

.slick-cell-checkboxsel {
  text-align: center;
  input {
    margin: 0;
  }
}

.grid-canvas .slick-cell a, .grid-canvas .slick-cell a:hover {
  color: $link-color;
}

.slick-row.odd{
  background: #F2F4F5;
}

.slick-row:hover, .slick-row.odd:hover {
  background: #e4e4e4;
}

.grid-view .slick-cell {
  font-size: 15px;
  line-height: 34px;
}

.grid-view .cost {
  color: #1C67A2;
  text-align: right;
}

.grid-view .number {
  text-align: right;
}

.grid-view .index {
  color: #AAA;
  text-align: center;
  font-size: 12px;
}

.grid-view .cost.selected {
  color: #FFF;
}

.loader {
  position: absolute;
  z-index: 1000;
  width: 500px;
  height: 500px;
}

.spinner-box{
  position: absolute;
  width: 46px;
  height: 46px;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px;

  background-size: 100% 100%
}


.ui-widget-content.slick-row{
  height: 50px;
}


 .input-append input[type="text"]{
  width: 110px;
}

.slick-viewport-shadow {
  @include box-shadow(0 8px 7px -6px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px -7px rgba(0, 0, 0, 0.2) inset);
  z-index: 10;
  pointer-events:none;
}


/****** Checkbox select *******/

.grid-view .checkbox-select {
  text-align: center;
  cursor: pointer;
  input {
    margin: 0;
  }
}


/**
 *   Filter View
 */

.filter-view {
  width: 100%;
  height: 50px;
  @include box-sizing(border-box);
}

form.filter-view {
  margin: 0;
  color: #555;
  padding: 10px;
  background: #f9f9f9;

  @include border-top-radius(4px);

  border: 1px solid #ddd;
  border-bottom: none;

  @include clearfix();

  > span {
    float:left;
    line-height: 30px;
  }
}

.filter-view .filter-field {
  margin: 0 5px;
  float: left;
}

.filter-view .search, .filter-view .more-menu {
  float: right;
}



.filter-view {
  .actions, .actions-right {
    span {
      margin: 0 5px;
    }
  }

  .actions-right {
    float: right;
  }
}

.filter-view .more-menu {
  margin-left: 10px;
  .dropdown-toggle {
    padding: 4px 8px;
  }

  .dropdown-menu i {
    margin: 0 6px 0 -10px;
  }
}

ul.pager {
  margin: 0;
  .disabled a {
    color: #aaa;
    &:hover {
      background: #fff;
      color: #aaa;
      cursor: arrow;
    }
  }
}

/* fix OS X Lion's hiding scroll bars */

::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}