.list-view {
  margin: 0;
  padding: 0;
  .items {
    padding: 0;
  }
  li {
    padding: 5px 0.5em 6px;
    list-style-type: none;
    cursor: pointer;

    line-height: 1.8em;
    &.active {
      color: #fff;
      background: #08c;
    }
  }
}

.list-view.side-nav, .side-nav .list-view {
  li {
    font-size: 16px;
    font-weight: bold;
  }

  li:before {
    float: right;
    content: "\203A";
    font-weight: bold;
    font-size: 1.5em;
  }
}

.list-and-detail-dialog .modal-dialog {
  width: 80%;
  height: 80%;

  .modal-header {
    margin-top: -60px;
  }

  .modal-content {
    height: 100%;
    padding: 60px 0 60px;
  }

  .modal-content-view {
    height:100%;
  }

  .modal-body {
    height: 100%;
    padding: 0;
    max-height: none;
    .list-and-detail-view {
      height: 100%;
    }
  }

  .modal-footer {
    margin-bottom: -60px;
  }
}

.list-and-detail-view {

  .list {
    float: left;
    width: 160px;
    height: 100%;
    overflow-y: scroll;

    li {
      padding-left: 15px;
      border-bottom: 1px solid #ddd;
    }
  }

  .detail {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    border-left: 1px solid #ddd;

    pre {
      border: none;
      background: transparent;
    }
  }
}

.list-and-detail-view.sidenav {
  padding-left: 160px;

  .list {
    margin-left: -160px;
  }
}