.category-select {
  margin: 0;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}

.typeahead {
  position: relative;
  .section-title {
    font-weight: bold;
    padding: 3px 12px;
    background: #eee;
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  .dropdown-menu >ul {
    padding: 0;
    > li {
      white-space: nowrap;
      list-style: none;
      padding: 3px 12px;
      &.active {
        cursor: pointer;
        color: #fff;
        background: #0081c2;
      }

      > a {
        display: block;
      }
    }
  }


  button {
    height: 34px;
  }

  .dropdown-menu {
    min-width: 100%;
    max-height: 400px;
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    background: #fff;
    opacity: 0.4;
  }
}

.typeahead .no-results-label {
  color: #888;
  height: 50px;
  line-height: 50px;
  text-align: center;
  pointer-events: none;
}

.typeahead li > a:hover {
  background: white;
  color: #333;
}

.typeahead li.active > a, .typeahead li.active > a:hover {
  color: #fff;
  background: #08c;
}

.dropdown-multiselect {
  li.select-all {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
}