@charset "UTF-8";

.example-list {
  margin: 0;





  .list-view {
    @media (min-width: $screen-sm-min) {
      position: fixed;
      padding: 20px 20px 0 0;
      width: 25%;
    }

  }

  .items {
    padding: 0;
    > li:first-child {
      border-radius: 6px 6px 0 0;
    }
    > li:last-child {
      border-radius: 0 0 6px 6px;
    }
    > li {
      border: 1px solid #e0e0e0;
      padding: 8px 14px;
      margin-bottom: -1px;

      .glyphicon-chevron-right {
        float: right;
        margin-top: 2px;
        margin-right: -6px;
        opacity: .25;
      }
    }
  }
}

.example-with-source {
  padding-top: 20px;
}

h2 {
  font-weight: normal;
  margin-top: 0;
}

.example-section-view {
  height: 100%;
  overflow: scroll;

  .examples {
    padding-bottom: 80px;
  }
}

.example-with-source {
  .intro {
    margin: 20px 0;
  }

  .example {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    select, input, .input-append, .nav {
      margin-bottom: 0;
    }
  }

  .example-source {
    height: 520px;
    overflow: scroll;
    padding:10px;
    border: 1px solid #e0e0e0;
    margin-top: -1px;

    h4 {
      color: #444;
    }

    pre {
      @include box-sizing(border-box);
      width: 100%;
      padding: 0;
      background: transparent;
      border: none;

      code {
        padding: 0;
      }
    }
  }
}

.form-example .form-horizontal {
  .control-label {
    @extend .col-sm-2;
  }
}


.example-code {
  code {
    white-space: pre;
  }

  .example-result {
    a {
      cursor: pointer;
      text-decoration: none;
    }
    a:before {
      content: '►'
    }
    pre {
      display: none;
    }
  }

  .example-result.expanded {
    a:before {
      content: '▼'
    }
  }
}

.grid-view .grid {
  height: 200px;
}
