$iconSpritePath:          "/plumage.js/assets/images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "/plumage.js//assets/images/glyphicons-halflings-white.png";

@import '../../../assets/styles/plumage';

@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'home';
@import 'example';

@import 'highlight-xcode';

.tab-content {
  overflow: visible;
}
