<div class="container">

  <div class="row">
    <header class="span12">
      <div class="title-wrap">
        <div class="title-left">
          <div class="title"></div>
          <div class="subtitle"></div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="fields country-section span4"></div>
    <div class="span4">
      <div class="capital"></div>
      <div class="languages"></div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <a href=".">&larr; Back to Countries</a>
    </div>
  </div>
</div>
