<div class="calendar-wrap">
  <div class="date-field">
    <label class="control-label" for="daterangepicker_from">From</label>
    <span class="from-date"></span>
    {{#if showHourSelect}}<span class="from-hour"></span>{{/if}}
  </div>
  <div class="from-calendar"></div>
</div>

<div class="calendar-wrap">
  <div class="date-field">
    <label class="control-label" for="daterangepicker_to">To</label>
    <span class="to-date"></span>
    {{#if showHourSelect}}<span class="to-hour"></span>{{/if}}
  </div>
  <div class="to-calendar"></div>
</div>

<div class="ranges-wrap">
  <ul class="ranges">
    {{#ranges}}
      <li><a href="#">{{name}}</a></li>
    {{/ranges}}
  </ul>
  <button class="btn btn-default btn-small apply">Apply</button>
  <a href="#" class="cancel">cancel</a>
</div>
