.category-select {
  margin: 0;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}

.typeahead .no-results,
.typeahead .loading {
  color: #888;
  height: 50px;
  line-height: 50px;
  text-align: center;
  pointer-events: none;
}

.typeahead .loading {
  background: transparent url(ajax-loader.gif) no-repeat 50% 50%;
}

.typeahead li > a:hover {
  background: white;
  color: #333;
}

.typeahead li.active > a, .typeahead li.active > a:hover {
  color: #fff;
}

.dropdown-multiselect {
  li.select-all a {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
}